.center {

    text-align: center;
}
div.settings {
        display:grid;
        grid-template-columns: max-content max-content;
        grid-gap:5px;
}
div.settings label       { text-align:right; }
div.settings label:after { content: ""; }
.loginButton{
    margin-top: 10px !important;
}

.error-notify {
    float: left;
    margin: 1rem;
    color: #ff1919;
    font-size: 10px;
    font-weight: 600;
  }

